.hovereffect:hover .overlay-sad {
    opacity: 0.2;
}

.hovereffect:hover .overlay-happy {
    opacity: 0.2;
}

.hovereffect:hover .overlay-angry {
    opacity: 0.2;
}

.hovereffect:hover .overlay-wow {
    opacity: 0.2;
}

.hovereffect:hover .overlay-thinking {
    opacity: 0.2;
}

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay-happy {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color: yellow;
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect .overlay-sad {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color: blue;
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect .overlay-angry {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color: red;
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect .overlay-wow {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color: green;
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect .overlay-thinking {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color: black;
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

