<!--<img src="{{ src }}" alt="image"> -->

{% extends "top.html" %}

{% block content %}
<div class="text-center pt-5">
 <div class="container-fluid" class="text-center" align="center">
  <h3 class="h3 font-weight-normal mb-3"> Start meme-ing headlines </h3>
  <img src="{{ image_src }}" alt="image" width="700" height="400" class="mb-3">
  <br>
  <a href="{{ url_for('start') }}" class="text-center ml-2 btn btn-primary">
   <button class="btn btn-lg btn-primary" type="submit"> Meme away! </button>
 </a>
 </div>
</div>
{% endblock %}
