{% extends "top.html" %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"> 
    </head>
    <div class="container">
        <p>{{ article }}</p>
    </div>
    <div class="container">
        <div class="memes">
        <div class="row">
            <div class="col-sm">
                <div class="hovereffect">
                    <input type="image" src="{{ src }}" class="img-fluid rounded responsive" alt="happy">
                    <div class="overlay-happy"></div>
                </div>
            </div>
            
            <div class="col-sm">
                <div class="hovereffect">
                    <input type="image" src="{{ src }}" class="img-fluid rounded responsive" alt="sad">
                    <div class="overlay-sad"></div>
                </div>
            </div>
            
            <div class="col-sm">
                <div class="hovereffect">
                    <input type="image" src="{{ src }}" class="img-fluid rounded responsive" alt="angry">
                    <div class="overlay-angry"></div>
                </div>
            </div>
            
            <div class="col-sm">
                <div class="hovereffect">
                    <input type="image" src="{{ src }}" class="img-fluid rounded responsive" alt="wow">
                    <div class="overlay-wow"></div>
                </div>
            </div>
            
            <div class="col-sm">
                <div class="hovereffect">
                    <input type="image" src="{{ src }}" class="img-fluid rounded responsive" alt="thinking">
                    <div class="overlay-thinking"></div>
                </div>
            </div>
                
        </div>
        </div>                      
    </div>
{% endblock %}