{% extends "top.html" %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/start.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/start.js') }}"></script>
    </head>
    <div class="container pt-5">
        <p class="h3 mb-3 font-weight-normal">{{ article[0] }}</p>
        <br>
        <p class="h5 mb-3 font-weight-normal"> {{ article[1] }}</p>
    <hr>
    </div>
    <div class="container">
        <div class="memes">
        <div class="row">
            <div class="col-sm">
                <div class="hovereffect">
                    <a href="{{ url_for('increment') }}">
                        <input type="image" src="{{ src_happy }}" class="img-fluid rounded responsive" alt="happy">
                        <input type="button" class="overlay-happy">
                    </a>
                </div>
            </div>
            <div class="col-sm">
                <div class="hovereffect">
                    <a href="{{ url_for('increment') }}">
                        <input type="image" src="{{ src_sad }}" class="img-fluid rounded responsive" alt="sad">
                        <input type="button" class="overlay-sad">
                    </a>
                </div>
            </div>

            <div class="col-sm">
                <div class="hovereffect">
                    <a href="{{ url_for('increment') }}">
                        <input type="image" src="{{ src_angry }}" class="img-fluid rounded responsive" alt="angry">
                        <input type="button" class="overlay-angry">
                    </a>
                </div>
            </div>

            <div class="col-sm">
                <div class="hovereffect">
                    <a href="{{ url_for('increment') }}">
                        <input type="image" src="{{ src_shocked }}" class="img-fluid rounded responsive" alt="shocked">
                        <input type="button" class="overlay-shocked">
                    </a>
                </div>
            </div>

            <div class="col-sm">
                <div class="hovereffect">
                    <a href="{{ url_for('increment') }}">
                        <input type="image" src="{{ src_thinking }}" class="img-fluid rounded responsive" alt="thinking">
                        <input type="button" class="overlay-thinking">
                    </a>
                </div>
            </div>

        </div>
        </div>
    </div>
    
    <div class="container">
        <div class="col-sm">
            <a href="{{ url_for('increment') }}" class="btn btn-warning skip">SKIP</a>
        </div>
    </div>
{% endblock %}
